<section>
  <h2 class="title">Create New Blog Post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title" class="mx-2">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Post Title">
    </div>
    <div>
      <label for="post-content" class="mx-2 mt-3">Content:</label>
      <textarea class="form-control mx-2" id="post-content" name="post-content" placeholder="Lorem ipsum dolor sit amet..."></textarea>
    </div>
    <button type="submit" class="btn-success mt-3 mx-3 rounded">Create Post</button>
  </form>
</section>

<a href="/dashboard"><button class="mt-5" id="back"> &larr; Back to Dashboard</button></a>

<script src="/js/add-post.js"></script>
<Script src="/js/create-post.js"></Script>