<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">create new blog post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert blog title here"/>
    </div>
    <div>
      <label for="post-content">content:</label>
      <textarea class="form-control" id="post-content" name="post-content" placeholder="insert blog content here"/></textarea>
    </div>
    <button type="submit">Create post</button>
  </form>
</section>

<script src="/js/add-post.js"></script>
<Script src="/js/create-post.js"></Script>