<div class="column">
<h2 class="title pb-4 ms-2 mt-4">Create new account:</h2><hr>
<form class="signup-form">
  <div class="card text-white bg-info mb-3 ms-2" style="max-width: 18rem">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="card text-white bg-info mb-3 ms-2" style="max-width: 18rem">
    <label for="email-signup">E-mail:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="card text-white bg-info mb-3 ms-2" style="max-width: 18rem">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn-success mx-3">Signup</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/js/signup.js"></script>