<!-- displaying articles -->
{{> post-info post}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="ml-5 form-control mt-3" name="comment-body" placeholder="Enter comment here..."></textarea>
  </div>

  <div>
    <button class="btn-warning mx-2 mt-2 mb-4 rounded shadow" type="submit">Add Comment</button>
  </div>
  
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}